<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body>

    <%- include('../partials/header')  %> 

    <main>
        <div class="form-container">
            <h1>Crear nuevo producto</h1>
            <form action="/products/create" method="post" enctype="multipart/form-data">

                <label for="marca">Marca</label>
                <input type="text" name="marca" id="marca" required>

                <label for="modelo">modelo</label>
                <input type="text" name="modelo" id="modelo" required>

                <label for="precio">precio</label>
                <input type="text" name="precio" id="precio" required>

                <label for="descripcion">descripcion</label>
                <textarea name="descripcion" id="descripcion"></textarea required>

                <label for="imagen">Imagen del producto</label>
                <input type="file" id="imagen" name="imagen" required>

                <fieldset id="categoria">
                    <legend>Categoria</legend>
                    <% categories.forEach(category => { %>
                        <fieldset class="categoria">
                            <label for="<%= category.name %> "><%= category.name %> </label>
                            <input type="checkbox" id="<%= category.name %> " name="categoria" value="<%= category.name %> ">  
                        </fieldset>
                    <% }) %>
                </fieldset>

                <fieldset id="colores">
                    <legend>Colores</legend>
                    <% colors.forEach(color => { %>
                        <fieldset class="categoria">
                            <label for="<%= color.name %> "><%= color.name %> </label>
                            <input type="checkbox" id="<%= color.name %> " name="categoria" value="<%= color.name %> ">  
                        </fieldset>
                    <% }) %>
                </fieldset>
                
                <button type="submit">Crear producto</button>
            </form>
        </div>
    </main>

    <%- include('../partials/footer')  %> 


</body>
</html>
