<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body>

    <%- include('../partials/header')  %> 

    <main>
        <div class="form-container">
            <h1>Editar producto</h1>
            <figure class="contImg">
                <img src="<%= product.img %> " alt="" class="imgEdit">
            </figure>
            <form action="/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <label for="imagen">Actualizar imagen de producto</label>
                <input type="file" id="imagen" name="imagen">

                <label for="marca">Marca</label>
                <select name="marca" id="marca">
                    <option value="<%= product.brand.name %>" selected disabled><%= product.brand.name %></option>
                    <% brands.forEach(brand => { %>
                        <option value="<%= brand.id %>">
                            <%= brand.name %>
                        </option>
                    <% }) %>
                </select>

                <label for="modelo">modelo</label>
                <input type="text" value="<%= product.model %> " name="modelo" id="modelo">

                <label for="precio">precio</label>
                <input type="text" value="<%= product.price %>" name="precio" id="precio">

                <label for="descripcion">descripcion</label>
                <textarea name="descripcion" id="descripcion"><%= product.description %></textarea>
                
                <fieldset id="categoria">
                    <legend>Categoria</legend>
                    <select name="categoria" class="categoria">
                        <option value="<%= product.category.name %>" selected disabled><%= product.category.name %></option>
                        <% categories.forEach(category => { %>
                            <option value="<%= category.id %>">
                                <%= category.name %>
                            </option>
                        <% }) %>
                    </select>
                </fieldset>

                <fieldset id="colores">
                    <legend>Color</legend>
                    <select name="colores" class="colores">
                        <option value="<%= product.color.name %>" selected disabled><%= product.color.name %></option>
                        <% colors.forEach(color => { %>
                            <option value="<%= color.id %>">
                                <%= color.name %>
                            </option>
                        <% }) %>
                    </select>
                </fieldset>
                
                <button type="submit">Editar producto</button>
            </form>
            <form action="/products/delete/<%= product.id %>?_method=DELETE" method="post">
                <button class="delete" type="submit">Eliminar producto</button>
            </form>
        </div>
    </main>

    <%- include('../partials/footer')  %> 


</body>
</html>
