<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body>

    <%- include('../partials/header')  %> 

    <main>
        <div class="form-container">
            <h1>Editar producto</h1>
            <figure class="contImg">
                <img src="<%= product.img %> " alt="" class="imgEdit">
            </figure>
            <form action="/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <label for="imagen">Actualizar imagen de producto</label>
                <input type="file" id="imagen" name="imagen">

                <label for="marca">Marca</label>
                <input type="text" value="<%= product.brand.name  %> " name="marca" id="marca">

                <label for="modelo">modelo</label>
                <input type="text" value="<%= product.model %> " name="modelo" id="modelo">

                <label for="precio">precio</label>
                <input type="text" value="<%= product.price %>" name="precio" id="precio">

                <label for="descripcion">descripcion</label>
                <textarea name="descripcion" id="descripcion"><%= product.description %></textarea>
                
                <fieldset id="categoria">
                    <legend>Categoria</legend>
                        <fieldset class="categoria">
                            <label for="running">running</label>
                            <input type="checkbox" id="running" name="categoria" value="running">  
                        </fieldset>
                        <fieldset class="categoria">
                            <label for="urbanas">urbanas</label>
                            <input type="checkbox" id="urbanas" name="categoria" value="urbanas">  
                        </fieldset>
                        <fieldset class="categoria">
                            <label for="dise単ador">dise単ador</label>
                            <input type="checkbox" id="dise単ador" name="categoria" value="dise単ador">  
                        </fieldset>
                    </fieldset>

                <fieldset id="colores">
                    <legend>Colores</legend>
                    <fieldset class="categoria">
                        <label for="negro">negro</label>
                        <input type="checkbox" checked id="negro" name="categoria" value="negro">  
                    </fieldset>
                    <fieldset class="categoria">
                        <label for="blanco">blanco</label>
                        <input type="checkbox" checked id="blanco" name="categoria" value="blanco">  
                    </fieldset>
                    <fieldset class="categoria">
                        <label for="rojo">rojo</label>
                        <input type="checkbox" id="rojo" name="categoria" value="rojo">  
                    </fieldset>
                    <fieldset class="categoria">
                        <label for="verde">verde</label>
                        <input type="checkbox" checked id="verde" name="categoria" value="verde">  
                    </fieldset>
                    <fieldset class="categoria">
                        <label for="naranja">naranja</label>
                        <input type="checkbox" checked id="naranja" name="categoria" value="naranja">  
                    </fieldset>
                    <fieldset class="categoria">
                        <label for="violeta">violeta</label>
                        <input type="checkbox" id="violeta" name="categoria" value="violeta">  
                    </fieldset>
                    <fieldset class="categoria">
                        <label for="gris">gris</label>
                        <input type="checkbox" id="gris" name="categoria" value="gris">  
                    </fieldset>
                </fieldset>
                
                <button type="submit">Editar producto</button>
            </form>
        </div>
    </main>

    <%- include('../partials/footer')  %> 


</body>
</html>
