<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body>
    
    <%- include('../partials/header')  %> 
    
    <main>
        <div class="producto-completo">       
        <div class="lado-izquierdo">
            <figure class="imgprincipal">
                <img src="<%= product.img %>" alt=<%= `${product.brands.name}-${product.model}` %>  class="productselect">
            </figure>
        </div>
        <div class="lado-derecho">
            <div class="marca-principal">
            <h3><%= product.brands.name %> </h3>
            </div>
            <div class="modelo-principal">
            <h2><%= product.model %> </h2>
            </div>
            <div class="precio">
                <p>$<%= product.price %></p>
                <% if (locals.user) { %>
                    <a href="/products/edit/<%= product.id %>" class="login-button">Editar producto</a>
                <% } %>
            </div>

            <div class="container">
                <h3 class="color">COLOR</h3>
                <p><%= product.colors.name %> </p>
            </div>

            <div class="titulo-informacion">
                <h3>INFORMACION</h3>
            </div>
            <div class="informacion">
                <p><%= product.description %> 
                </p>
                <ul>
                    <li>Todas las zapatillas tienen reembolso</li>
                    <li>Hasta 15% de descuento pagando en efectivo</li>
                    <li>10% de descuento en la segunda unidad</li>
                </ul>
            </div>
            <div class="botones-de-compra">
                <button type="button" class="btn1">AGREGAR AL CARRITO</button>
                <button type="button" class="btn2">COMPRAR YA</button>     
            </div>
        </div>
        </div>   
    
    <section class="products">
        <div class="title" id="tittle-productdetail">
            <h2>Productos Similares</h2>
        </div>
        <div class="similar-products">
            <% list.forEach(product => { %>
                <article>
                    <a class="link" href="/products/detail/<%= product.id %>">
                    <figure class="product-img">
                        <% if (product.img) { %>
                            <img src="<%= product.img %> " alt="">
                        <% } else {%>
                            <img src="/img/uploads/zapatilla1.png" alt="">
                        <% } %> 
                    </figure>
                    <h3><%= `${product.brands?.name} ${product.model}` %> </h3>
                    <p>$<%= product.price %> </p>
                    <a href="/products/detail/<%= product.id %> " class="comprar">comprar</a>
                </article>
            <% }) %>
        </div>
    </section>
    </main>

    <%- include('../partials/footer')  %> 

</body>
</html>
