<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body>
    
    <%- include('../partials/header')  %> 
    
    <main>
        <div class="producto-completo">       
        <div class="lado-izquierdo">
            <figure class="imgprincipal">
                <img src="<%= product.img %> " alt="principal" class="productselect">
            </figure>
        </div>
        <div class="lado-derecho">
            <div class="marca-principal">
            <h3><%= product.brand.name %> </h3>
            </div>
            <div class="modelo-principal">
            <h2><%= product.model %> </h2>
            </div>
            <div class="precio">
                <p><%= product.price %></p>
            </div>

            <div class="container">
	
                <h3 class="color">COLOR</h3>
          
            <ul class="lista-opciones">
                <% product.colors.forEach(color => { %>
                    <li class="boton-estilo">
                        <label class="option"><%= color.name %> </label> 
                        <input type="radio" id="selector" name="selector">                             
                    </li>
                <% }) %>
            </ul>
            </div>

            <div class="titulo-informacion">
                <h3>INFORMACION</h3>
            </div>
            <div class="informacion">
                <p><%= product.description %> 
                </p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Aperiam, eveniet perspiciatis totam labore</li>
                    <li>minima enim perferendis temporibus sunt</li>
                </ul>
            </div>
            <div class="botones-de-compra">
                <button type="button" class="btn1">AGREGAR AL CARRITO</button>
                <button type="button" class="btn2">COMPRAR YA</button>     
            </div>
        </div>
        </div>   
    
    <section class="products">
        <div class="title" id="tittle-productdetail">
            <h2>Productos Similares</h2>
        </div>
        <div class="similar-products">
            <article>
                    <a class="link" href="/products/detail/5">
                    <figure class="product-img">
                        <img src="/img/uploads/zapatilla5.png" alt="">
                    </figure>
                    <h3>adidas performance</h3>
                    <p>$520</p>
                    <a href="/products/detail/5" class="comprar">comprar</a>
                </article>
        
            
                <article>
                    <a class="link" href="/products/detail/2">
                    <figure class="product-img">
                        <img src="/img/uploads/zapatilla2.png" alt="">
                    </figure>
                    <h3>adidas Originals 11</h3>
                    <p>$450</p>
                    <a href="/products/detail/2" class="comprar">comprar</a>
                </article>
        

                <article>
                    <a class="link" href="/products/detail/3">
                    <figure class="product-img">
                        <img src="/img/uploads/zapatilla3.png" alt="">
                    </figure>
                    <h3>Nike LeBron 18</h3>
                    <p>$930</p>
                    <a href="/products/detail/3" class="comprar">comprar</a>
                </article>
        

                <article>
                    <a class="link" href="/products/detail/4">
                    <figure class="product-img">
                        <img src="/img/uploads/zapatilla4.png" alt="">
                    </figure>
                    <h3>Nike Air Max 97</h3>
                    <p>$1580</p>
                    <a href="/products/detail/4" class="comprar">comprar</a>
                </article>
        
        </div>
    </section>
    </main>

    <%- include('../partials/footer')  %> 

</body>
</html>
