<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %> 

<body>
    
    <%- include('./partials/header') %> 

    <main>
        <section class="hero">
            <a class="carrusel-link" href="detail">
                <div class="carrusel">
                    <h1>Lo ultimo en <br>Air force 1</h1>
                    <a href="products/detail/1" class="cta">comprar ya</a>
                </div>
            </a>
        </section>
        <section class="products">
            <div class="title">
                <h2>Productos destacados</h2>
            </div>
            <div class="products-list">
                <% list.forEach(product => { %>
                    <% if (product.destacada == true) { %>
                        <article>
                            <a class="link" href="products/detail/<%= product.id %>">
                            <figure class="product-img">
                                <% if (product.img) { %>
                                    <img src="<%= product.img %> " alt="">
                                <% } else {%>
                                    <img src="/img/uploads/zapatilla1.png" alt="">
                                <% } %> 
                            </figure>
                            <h3><%= `${product.brand.name} ${product.model}` %> </h3>
                            <p>$<%= product.price %></p>
                            <a href="products/detail/<%= product.id %> " class="comprar">comprar</a>
                        </article>
                    <% } %>
                <% }) %>
            </div>
        </section>

        <section class="banners">
            <div class="top-row-banner">
                <div class="top-left-banner">
                    <a href="/products">
                        <h3>50% en productos nike</h3>
                    </a>
                </div>
                <div class="top-right-banner">
                    <a href="/products">
                        <h3>sneakers jordan</h3>
                    </a>
                </div>
            </div>
            <div class="bottom-row-banner">
                <div class="bottom-left-banner">
                    <a href="/products">
                        <h3>lo nuevo en air force</h3>
                    </a>
                </div>
                <div class="bottom-right-banner">
                    <a href="/products">
                        <h3>2 x 1 en zapatillas de running</h3>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <%- include('./partials/footer')  %> 

</body>
</html>
