<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header')  %>
    <h1><%= locals.user.user %> </h1>
    <p><%= locals.user.email %></p>
    <img src="<%= locals.user.img %>" alt="">
    <%- include('../partials/footer')  %> 
</body>
</html>