<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header')  %>
    <main>
        <div class="profile">
            <h1>Mi perfil</h1>
            <div class="profile-img">
                <img src="<%= locals.user.img %>" alt="">
            </div>
            <h2><%= locals.user.user %> </h2>
            <p><%= locals.user.email %></p>
            <div class="buttons">
                <a href="/users/logout" class="logout">Cerrar sesión</a>
                <a href="/users/destroy" class="destroy">Eliminar cuenta</a>
            </div>
            <a href="/products/create" class="create">Nuevo producto</a>
        </div>
    </main>
        <%- include('../partials/footer')  %> 
</body>
</html>